@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('https://wallpapercave.com/wp/wp3516819.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

